:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.resource-player {
  margin: 10px;
  max-width: 200px;
}

.milestone-image {
  margin: 10px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 3px 6px 7px #ccc8c8a3;
  border: 1px solid #e7e7e7;
  max-width: 40vw;
}

#contained-button-file {
  display: none;
}

.file-label {
  width: 80%;
  display: block;
}
